# Puerto del servidor
PORT=3000

# Host (0.0.0.0 recomendado para Docker y Render)
HOST=0.0.0.0

# Entorno (development | production | test)
NODE_ENV=development

# Configuración de Supabase
SUPABASE_URL=https://cxudhqgvyxrpdswhdhmb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4dWRocWd2eXhycGRzd2hkaG1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzMDgxOTksImV4cCI6MjEwMzg4NDE5OX0.REtkbTRsNwpr5m_a3fMEZO733V6d71vy3hGhATkhn8M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4dWRocWd2eXhycGRzd2hkaG1iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODMwODE5OSwiZXhwIjoyMTAzODg0MTk5fQ.WQOy0oI5srsQ9MPoERzQ5doiOc9xMrMLX7zDIexwG74
